---
import devImg from '../../assets/development-4536630.svg';
---

<section class='section'>
    <article class='section__info'>
        <h1>David <span class='section__info--span'>Hernandez</span></h1>
        <h3>Frontend Developer</h3>
        <div class='info__btns'>
            <a href='' target='_blank'>
                <button class='btn'>Download CV</button>
            </a>
            <a href='https://github.com/Vsjee' target='_blank'>
                <button class='btn'>Github</button>
            </a>
        </div>
    </article>
    <article
        class='section__img'
        data-tilt
        data-tilt-max='10'
        data-tilt-speed='400'
        data-tilt-perspective='500'
    >
        <picture>
            <img src={devImg} alt='dev img' width='500' height='500' />
        </picture>
    </article>
</section>

<style>
    section {
        display: flex;
        height: 100vh;
        padding-top: 5rem;
        position: relative;
    }

    /* section__info */
    .section__info {
        display: grid;
        gap: 1rem;
        place-content: center;
        padding: 0 5%;
        width: 50%;
    }
    .section__info h1 {
        font-size: 3rem;
        letter-spacing: -3px;
    }
    .info__btns {
        display: inline-flex;
        gap: 20px;
    }
    .btn {
        cursor: pointer;
        background: transparent;
        border: 2px solid black;
        color: var(--fontSecond);
        width: 120px;
        padding: 0.3rem;
        transition: 0.3s ease-in;
    }
    .btn:hover {
        color: var(--fontMainBlack);
    }
    .section__info--span {
        background-image: var(--basicLinearGradient);

        background-size: 100%;
        background-repeat: repeat;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
    }

    /* section__img */
    .section__img {
        width: 50%;
    }
    .section__img picture,
    .section__img picture img {
        width: 90%;
    }

    @media screen and (max-width: 700px) {
        .section {
            flex-direction: column;
            margin-bottom: 20rem;
            transition: 1s ease;
        }
        .section__info {
            width: 100%;
        }
        .section__img {
            width: 100%;
            margin: 0 auto;
        }
        .section__img picture {
            margin-top: 2rem;
            width: 90%;
            padding: 0 5%;
        }
        .section__img picture img {
            width: 90%;
            height: auto;
        }
    }
    @media screen and (max-width: 500px) {
        .section {
            margin-bottom: 10rem;
        }
    }
</style>

<script>
    import { VanillaTilt } from '../../js/vanilla-tilt';

    VanillaTilt.init(document.querySelector('.section__img'), {
        max: 15,
        speed: 400,
    });
</script>
