---
import Header from '../components/header/Header.astro';
import Footer from '../components/footer/Footer.astro';
import Welcome from '../components/welcome/Welcome.astro';
import About from '../components/about/About.astro';
import Stack from '../components/stack/Stack.astro';
import ProyectsCarousel from '../components/proyects/ProyectsCarousel';
import Contact from '../components/contact/Contact.astro';
import '../styles/global.css';

import { options } from '../js/particlesOptions';
import Particles from 'astro-particles';
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/logoWhite.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>Portfolio</title>
  </head>
  <body>
    <Header />
    <main>
      <Welcome />
      <About />
      <Stack />
      <ProyectsCarousel client:visible />
      <Contact />
    </main>
  </body>
  <Particles id='tsparticles' options={options} />
  <div class='area'>
    <Footer />
  </div>
</html>

<script>
  import { tsParticles } from 'tsparticles-engine';
  import { loadFull } from 'tsparticles';

  (async () => {
    await loadFull(tsParticles);
  })();
</script>
